.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Login button {
    width: 10vw;
    background-color: rgb(119, 48, 233);
    color: white;
    border-radius: 2%;
}